@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    h1{
        font-family: "Impact";
    }
    p{
        font-family: "Times New Roman";
        margin-right: 240px;
        margin-left: 240px;
    }
    img{
        height: 400px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Gardener's Calendar!</h1>
    <p>This organizational tool can help anyone be successful at raising great big bushels of food. You can start gardens or nurseries, add plants to them, and give them to-dos. See on a calendar each garden's or nursery's plants that have to-dos.</p>
    <img src="images/Markus Spiske Unsplash.com.JPG" alt="raisedBedGarden" />
</div>




@*<partial name="_calendarPartial" for="ToDos"></partial>

@section ExtraStyleSheets{
    <link href='/lib/FullCalendar/main.css' rel='stylesheet' />
    <script src='/lib/FullCalendar/main.js'></script>
}*@