@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    h1{
        font-family: "Impact";
    }
    p{
        font-family: "Times New Roman";
        margin-right: 200px;
        margin-left: 200px;
        font-size: 18px;
    }
    img{
        width: 500px;
        height: 345px;              
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to Gardener's Calendar!</h1>
    <p>
        This organizational tool can help anyone be successful at raising great big bushels of food. 
        You can start gardens or nurseries, add plants to them, and give them to-dos. 
        See all your to-dos on a calendar. 
        See a calendar of plants with to-dos for only the chosen garden or nursery. 
        Click on a date to see all the to-dos for that date. 
        You can also click on the plant within the date to see all the to-dos for that plant for that date.
        Choose among pre-set recurring to-dos. 
        Create one-time or recurring to-dos.
        See a list of all your plants.
        See a list of all your to-dos by date, go directly to today if you've gotten behind.
        You can choose different days of the week to start to-dos or schedule them all together.
    </p>
    <img src="~/images/for fronts.jpg" alt="garden"/>    
</div>





@*<partial name="_calendarPartial" for="ToDos"></partial>

@section ExtraStyleSheets{
    <link href='/lib/FullCalendar/main.css' rel='stylesheet' />
    <script src='/lib/FullCalendar/main.js'></script>
}*@