@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gardeners' Calendar!</h1>
</div>
@*<partial name="_calendarPartial" for="ToDos"></partial>

@section ExtraStyleSheets{
    <link href='/lib/FullCalendar/main.css' rel='stylesheet' />
    <script src='/lib/FullCalendar/main.js'></script>
}*@