@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No entity associated with this web application does anything with your data aside from what is required to use the web application.</p>
