@page
@model GardenersCalendar2.Pages.ToDos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ToDo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToDoVm.Name" class="control-label"></label>
                <input asp-for="ToDoVm.Name" class="form-control" />
                <span asp-validation-for="ToDoVm.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoVm.Description" class="control-label"></label>
                <input asp-for="ToDoVm.Description" class="form-control" />
                <span asp-validation-for="ToDoVm.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoVm.StartDate" class="control-label"></label>
                <input asp-for="ToDoVm.StartDate" class="form-control" />
                <span asp-validation-for="ToDoVm.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoVm.EndDate" class="control-label"></label>
                <input asp-for="ToDoVm.EndDate" class="form-control" />
                <span asp-validation-for="ToDoVm.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoVm.RecurrenceInterval" class="control-label"></label>
                <input asp-for="ToDoVm.RecurrenceInterval" class="form-control" />
                <span asp-validation-for="ToDoVm.RecurrenceInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoVm.PlantId" class="control-label"></label>
                <select asp-for="ToDoVm.PlantId" class ="form-control" asp-items="ViewBag.ParentListId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
