@page
@model GardenersCalendar2.Pages.Plants.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plant.Name" class="control-label"></label>
                <input asp-for="Plant.Name" class="form-control" />
                <span asp-validation-for="Plant.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plant.Description" class="control-label"></label>
                <input asp-for="Plant.Description" class="form-control" />
                <span asp-validation-for="Plant.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plant.NurseryId" class="control-label"></label>
                <select asp-for="Plant.NurseryId" class ="form-control" asp-items="ViewBag.NurseryId">
                    <option value="">Choose a Nursery</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Plant.GardenId" class="control-label"></label>
                <select asp-for="Plant.GardenId" class ="form-control" asp-items="ViewBag.GardenId">
                    <option value="">Choose a Garden</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
